[Unit]
Description=Python Wi-Fi Auth
After=ipset.service
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python-wifi-auth -i WIFI_SMS -p 4322 -P admin

[Install]
WantedBy=multi-user.target
